header{
    background: #4db2b9;
    padding: 10px 0px;
}

#site_logo{
    width: 100%;
}

#site_name{
    text-align: center;
    font-size: 50px;
    position: absolute;
    top: 10%;
    left: 20%;
}

#contato{
    margin: 10px 0;
    padding: 15px 20px;    
    position: absolute;
    top: 0px;
    right: 0px;  
}

#contato li{
    display: inline;
    padding: 8px;
}

nav a{
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    transition: 1s color;
    background: #000000;
    border-radius: 0 10px 0 10px ;
    padding: 10px 10px;
}

nav a:hover{
    color: #fe0557 ;
}

/*Separação de cabeçalho e corpo principal*/

main{
    background: #ffffff;
    padding: 1em 1em;
    width: auto;
}

.conteudo{
    width: 30%;
    height: 100%;
    text-align: justify;
    display: inline-block;
    vertical-align: top;
}

.conteudo-titulo{
    font-size: 25px;
    margin: 1em 0;
}

.conteudo-paragrafo{
    font-size: 19px;
    padding-top: 1em;
}

label{
    text-align: center;
    font-size: 25px;
}


.conjuntoArea{
    text-align: right;
    display: inline-block;
    width: auto;
    /*vertical-align: top;*/
    margin-left: 100px;
    padding-top: 1em;
}

.caixaEntrada, .caixaSaida{
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    /*vertical-align: top;*/
}

.caixaAmarela{
    margin: 20px 20px;
    font-size: 20px;
    padding: 20px 20px;
    display: block;
    width: 500px;
    height: 600px;
    background: #efeecc;
    border: none;
    border-radius: 5px;
}

/*Aqui começa a estilização do botão*/

.container{
    display: inline-block;
    margin-left: 1000px;
}

.botoes{
    display: inline-block;
    margin: 20px 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background: #4db2b9;
    cursor: pointer;
    transition: 1s background;
}

button:hover{
    background: #fe0557 ;
}

button:active{
    background: #fe8b05;
}

/*Separação de corpo principal e rodapé*/

footer{
    background-color: #4db2b9;
    text-align: center;
    padding: 20px;
}

@media screen and (max-width: 1860px){
    .caixaAmarela{
        width: 350px;
    }
    .container{
        display: inline-block;
        margin-left: 800px;
    }
    .conjuntoArea{
        vertical-align: bottom;
    }
    
}

@media screen and (max-width: 1431px){
    .caixaAmarela{
        width: 300px;
    }
    .container{
        display: inline-block;
        margin-left: 700px;
    }
    .conjuntoArea{
        vertical-align: bottom;
    }
    
}

@media screen and (max-width: 1289px){
    .caixaAmarela{
        width: 250px;
    }
    .container{
        display: block;
        margin-left: 600px;
    }
    .conjuntoArea{
        vertical-align: bottom;
    }
    
}

@media screen and (max-width: 1146px){
    .conteudo{
        width: 100%;
        height: 100%;
        text-align: justify;
        display: inline-block;
    }
    .caixaAmarela{
        width: 300px;
        height: 300px;
    }
    .container{
        display: inline;
        margin-left: 25%;
    }
    .conjuntoArea{
        vertical-align: bottom;
    }
    
}